.Content {
  border-bottom: 1px solid var(--gray-700);
  padding-bottom: 3px;

  input {
    width: 300px;
    color: var(--gray-700);
    font-size: 1.3rem;

    &:focus {
      outline: none;
      border: none;
    }
  }

  button {
    background: var(--white);
    border: none;
    position: relative;

    svg {
      position: absolute;
      top: -13px;
      right: 2px;
    }
  }
}

@media (max-width: 760px) {
  .Content {
    gap: 0.5rem;
    order: 3;
    flex-grow: 1;
    display: flex;

    input {
      flex-grow: 1;
    }

    button {
      margin-top: 1.3rem;
    }
  }
}
