.headerContainer {
  padding: 0 1rem;

  .headerContent {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1rem 0;
    font-size: 1.3rem;

    & div:nth-of-type(4) {

      > a:first-child {
        margin-right: 1rem;
      }

      a:hover {
        color: var(--green);

        span{
          color: var(--black-900);
        }
      }

      a:nth-of-type(2){
        
        span{
          font-size: 1rem;
          display: inline-block;
          width: 18px;
          text-align: center;
          border-radius: 50%;
          background: var(--red);
        }
      }
    }
  }
}

@media (max-width: 760px) {
  .headerContent {
    gap: 1rem;

    img {
      margin-right: 2rem;
    }
  }
}

@media (max-width: 500px) {
  .headerContainer {
    .headerContent {
      gap: 0.5rem;

      img {
        margin-right: 0;
        width: 30%;
      }

      div {
        > a {
          margin-right: 0.6rem !important;
        }
      }
    }
  }
}
