.slideProducts{
  max-width: 1300px;
  margin: 2rem auto 4rem;

  >h2{
    font-size: 2rem;
    font-weight: 900;
    padding: .5rem 3.5rem;
    margin: 2rem;
    position: relative;

    &::after{
      content: '';
      width: 6.3rem;
      height: .5rem;
      background: var(--yellow-700);
      position:absolute;
      bottom: 0;
      left: 3.5rem;
    }
  }

  .slide{
    background: var(--white);  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    // overflow: hidden;
    // margin: 0 15rem;

    >button{
      position: absolute;
      top: 200px;
      background: transparent;
      color: var(--gray-700);
      outline: none;
      border: none;
      transition: filter 0.2s;
  
      &:hover{
        filter: brightness(0.7);
      }
  
      &:nth-of-type(1){
        left: 1.5rem;
      }
  
      &:nth-of-type(2){
        right: 1.5rem;
      }
    }
  }
}

@media(max-width: 1300px){
  .slide section:nth-child(3n+0){
    display: none;
  }
}

@media(max-width: 800px){
  .slide section:nth-child(2n+0){
    display: none;
  }
}

