.container {
  background: var(--gray-100);
  padding: 2rem;

  .content {
    margin: 0 auto;
    max-width: 900px;

    > h2 {
      font-size: 1.8rem;
      font-family: "Lato";
      font-weight: 900;
      text-align: center;
      margin-bottom: 1rem;
    }

    form {
      display: flex;
      gap: 1rem;
      justify-content: center;

      input {
        background: var(--white);
        box-shadow: 5px 5px 15px 0px var(--black-750);
        height: 4rem;
        width: 300px;
        border-radius: 5px;
        color: var(--gray-600);
        font-size: 1.2rem;
        font-family: "Lato";
        font-weight: 900;
        padding: 2px 10px;

        &:focus {
          outline: none;
        }

        &.borderError {
          border: 1px solid var(--red-700);

          &::placeholder{
            color: var(--red-700);
          }
        }
      }

      button {
        color: var(--white);
        background: var(--black-900);
        padding: 6px 3rem;
        border: none;
        height: 50px;
        border-radius: 6px;

        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.9);
        }
      }
    }

    div {
      display: flex;
      justify-content: flex-start;
      margin-left: 5.5rem;

      span.error {
          color: var(--red-700);
          font-size: 1.3rem;
          font-weight: 400;
          padding: 4px 0;
          width: 300px;
        }
    }
  }
}
